@import 'unit';
@import 'breakpoint';
@import 'components/section';
@import 'components/activities';
@import 'components/menu';
@import 'components/stats';
@import 'components/filters';
@import 'components/options';
@import 'components/notes';
@import 'components/tag';
@import 'components/laps';

a{
	text-decoration: none;
}
.highcharts-background {
    fill: transparent;
}

::selection {
  background: $primary-color;
}

#googleMap {
  width: 100%;
  height: 500px;
}

.options {
  text-align: right;
  margin-top: 1rem;
}

label {
	color: white;
}

body.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
body.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y,
body.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: $primary-color;
}
