@font-face {
	font-family: 'Prototype';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Prototype.eot');
	src: local('☺'), url('fonts/Prototype.svg') format('svg');
}
body {
  background: black;
  text-transform: uppercase;
  font-family: 'Prototype';
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
}
