$colors: (
  blue: #22c6bb,
  green: #98c25c,
  pink: #e16d92,
  purple: #8b5cd6,
  orange: #f2813a,
  red: #ce2e33
);

@each $class, $color in $colors {
  .#{$class} {
    $primary-color: #{$color};
    @import 'base';
  }
}
