<ul class='menu vertical medium-horizontal float-right' data-magellan>
  <li>
    <a href="#stats">Stats</a>
  </li>
  <li>
    <a href="#chart">Chart</a>
  </li>
  <li>
    <a href="#activities">Activities</a>
  </li>
  <li>
    <a data-open="filters-reveal">Filters</a>
  </li>
</ul>
<div id='home'></div>
<script type='text/javascript'>
  var tags = {{{toJSON tags}}};
  $(document).foundation();
</script>
<script src='/js/home.js'></script>
