<!doctype html>
<html lang='en'>
  <head>
    <title>GPS</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/css/{{ theme }}.css" />
    <link rel="stylesheet" href="/js/vendor/perfect-scrollbar/perfect-scrollbar.css" />

    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/foundation-sites/foundation.min.js"></script>
    <script src="/js/vendor/highcharts/highcharts.js"></script>
    <script src="/js/vendor/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>
    <script src="/js/vendor/react/react.js"></script>
    <script src="/js/vendor/react/react-dom.js"></script>
    <script src="/js/vendor/three.js/three.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/js/common.js"></script>

  </head>
  <body>
    <div id='background' />
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class='row column'>
      <ul id='menu' class='vertical medium-horizontal menu menu--white'>
        <li class='menu--active'>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/create">Create</a>
        </li>
        <li>
          <a href="/tags">Tags</a>
        </li>
      </ul>
      {{{body}}}
    </div>
  </body>
</html>
