.filters {
  color: white;

  &__row {
    display: flex;
    justify-content: space-around;
  }

  &__distance {
    flex-shrink: 0;
    padding: 0 1em;
  }

  &__range {
  }

  &__tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__tag {
    background-color: $primary-color;
    color: black;
    margin: 0.3em;
    border: 1px solid black;
    padding: 0.1em 0.2em;
  }
}
