.stats {
  color:white;
  padding: 1em;
  line-height: 2rem;

  &__row {
    display: flex;
    justify-content: flex-start;
  }

  &__property {
    width: 25%;
    text-align: right;
    padding-right: 10px;
  }

  &__value {
    width: 25%;
    padding-left: 10px;
  }

}
